    #contenedor {
        width: 1024px;
        min-height: 100%;
        margin-top: 0px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0px;
        padding-top: 1px;
        padding-bottom: 1px;
        border-radius: 5px;
    }
    
    #encabezado {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #C3FAD0;
        width: 1000px;
        height: 100px;
        margin-right: auto;
        margin-left: auto;
    }
    
    h1 {
        font-family: 'Noto Sans JP', roboto;
        color: #008080;
        text-align: center;
    }
    
    span {
        padding: 30px;
        font-family: 'Noto Sans JP', roboto;
        color: #008080;
        text-align: center;
        font-size: larger;
    }
    
    #izquierda {
        background-color: #D9CCAD;
        width: 495px;
        height: 400px;
        margin-top: 5px;
        margin-left: 12px;
        margin-bottom: 5px;
        float: left;
    }
    
    #derecha {
        background-color: #F0C9E2;
        width: 495px;
        height: 400px;
        margin-top: 5px;
        margin-right: 12px;
        margin-bottom: 5px;
        float: right;
    }
    
    #pie {
        background-color: rgb(209, 240, 240);
        width: 1000px;
        height: 100px;
        margin-top: 5px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 5px;
        clear: both;
    }
    
    #cizq,
    #cder {
        margin-top: 60px;
    }